* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  padding: 0;
  margin: 0 auto;
  background: #050505;
  font-family: 'Bebas neue';
  overflow: hidden;
}

.loader {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 5;
  isolation: isolate;
  animation: show-content 1s cubic-bezier(0.42, 0, 0.58, 1) forwards 1.6s;
  overflow: hidden;

  @keyframes show-content {
    100% {
      height: 0vh;
    }
  }

  &__bg-1 {
    width: 100vw;
    height: 0vh;
    background: #050505;
    animation: grow 1s cubic-bezier(0.42, 0, 0.58, 1) forwards 0.5s;

    @keyframes grow {
      100% {
        height: 100vh;
      }
    }

    @keyframes shrink-back {
      0% {
        height: 100vh;
        position: absolute;
        bottom: 0;
      }

      100% {
        height: 0vh;
        position: absolute;
        bottom: 0;
      }
    }
  }

  &__bg-2 {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    animation: shrink 1s cubic-bezier(0.42, 0, 0.58, 1) forwards 0.5s;

    @keyframes shrink {
      100% {
        height: 0vh;
      }
    }
  }

  &__logo {
    position: absolute;
    bottom: 50vh;
    left: 50%;
    transform: translate(-50%, 50%) scale(3);
    font-weight: 700;
    font-size: 100px;
    line-height: 1;
    margin: 0;
    padding: 0;
    color: #fff;
    mix-blend-mode: difference;
    z-index: 10;
  }
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 32px 48px;
  z-index: 4;

  &__progress {
    color: #fff;
  }
}

.swiper {
  display: flex !important;
  align-items: center;
  width: 130%;
  height: 100vh;
  transform: translateX(-15%) rotateZ(10deg) !important;
  transform-origin: center;

  &__wrapper {
    height: 75vh !important;
  }

  &__slide {
    position: relative;
    display: flex !important;
    justify-content: center;
    align-items: center;
    transition: transform 400ms ease-in-out;
  }

  @for $i from 1 through 10 {
    @if $i % 2 == 1 {
      &__slide[data-slide-#{$i}] {
        margin-top: 25px;
      }
    } @else {
      &__slide[data-slide-#{$i}] {
        margin-top: -25px;
      }
    }
  }

  &__shades {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: #050505;
    z-index: 99999;
    animation: open-slide 800ms ease-in forwards 1s;
    animation-play-state: paused;

    @keyframes open-slide {
      100% {
        height: 0%;
      }
    }
  }

  &__img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__img {
    height: 120%;
    animation: zoom-out 1200ms ease-in forwards 1.4s;
    animation-play-state: paused;

    @keyframes zoom-out {
      100% {
        height: 100%;
      }
    }
  }

  &__title {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 150%) rotateX(270deg) rotateZ(-10deg);
    transform-origin: center top;
    transform-style: preserve-3d;
    display: block;
    width: 150%;
    text-align: center;
    text-transform: uppercase;
    font-size: 4.5rem;
    color: white;
    transition: transform 800ms cubic-bezier(0.215, 0.61, 0.355, 1);
    animation: clip 400ms linear forwards;
    animation-play-state: paused;

    @keyframes clip {
      0% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }

      100% {
        clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
      }
    }
  }

  &__slide:hover &__title {
    transform: translate(-50%, 50%) rotateX(360deg) rotateZ(-10deg);
  }

  &__year {
    display: block;
    position: absolute;
    top: 6px;
    right: 0;
    transform: rotate(90deg) translateY(calc(-100% - 8px));
    font-size: 1.25rem;
    color: #fff;
    line-height: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

    & span {
      display: block;
      transform: translateY(20px);
      transition: transform 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  }

  &__slide:hover &__year {
    & span {
      transform: translateY(0px);
    }
  }

  &__title-bottom {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(calc(100% + 8px));
    font-size: 1.25rem;
    color: #fff;
    text-transform: uppercase;
    line-height: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

    & span {
      display: block;
      transform: translateY(20px);
      transition: transform 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  }

  &__slide:hover &__title-bottom {
    & span {
      transform: translateY(0px);
    }
  }

  &__pagination {
    display: none;
  }
}
